body {
    background: #ddd;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #333;
}

.wrapper {
    background: #ddd url('bodybg.png') repeat-x scroll top left;
}

.subpage {
    background-image: url('bodybg-small.png');
}

* {
    margin:0;
    padding:0;
}

/** element defaults **/
table {
    width: 100%;
    text-align: left;
}

th, td {
    padding: 10px 10px;
}

th {
    color: #fff;
    background: #2978A1 none repeat-x scroll -15px 0;
}

td {
    color: #111;
    vertical-align: top
}

code, blockquote {
    display: block;
    border-left: 5px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
code {
    background-color: #ddd;
    border: none;
}
blockquote {
    border-left: 5px solid #333;
}

blockquote p {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    height: 1%;
}

p {
    line-height: 1.9em;
    margin-bottom: 20px;
}

a, .issue a {
    color: #256F94;
    text-decoration: none
}

a:hover, .issue a:hover {
    color: #BC6637;
}

a:focus {
    outline: none;
}

fieldset {
    display: block;
    border: none;
    border-top: 1px solid #ccc;
}

fieldset legend {
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
    color: #666;
}

fieldset form {
    padding-top: 15px;
}

fieldset p label {
    float: left;
    width: 150px;
}

form input, form select, form textarea {
    padding: 5px;
    color: #333333;
    border: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form input.formbutton {
    border: none;
    background: #FFFFFF url(bodybg.png) repeat-x scroll 0 -160px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 1px;
    width: auto;
    overflow: visible;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form.searchform p {
    margin: 5px 0;
}

form.searchform input.s {
    border: 1px solid #000;
}

form.settings input, textarea {
    float: right;
    margin-right: 10px
}

.options input, textarea {
    float: right;
    margin-right: 10px
}

form.reset input {
    float: left;
}


span.required {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ff0000;
}

h1 {
    color: #1F5D7C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

h2 {
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: -0.5px;
    padding: 0 0 5px;
    margin: 0;
    font-weight: normal;
}

h3 {
    color: #BC6637;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    padding-bottom: 10px;
    font-size: 15px;
    color: #666;
}

h5 {
    padding-bottom: 10px;
    font-size: 13px;
    color: #666;
}

ul, ol {
    margin: 0 0 35px 35px;
}

li {
    padding-bottom: 5px;
}

li ol, li ul {
    font-size: 1.0em;
    margin-bottom: 0;
    padding-top: 5px;
}

iframe {
    border: 1px solid
}

.clear {
    clear: both;
}

.notice {
    color: #222;
    background: #e3e4e3;
    border: 1px solid #d5d5d5;
    padding: 7px 10px;
    display: block;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.left {
    float: left;
    width: 49%;
    padding-right: 5px
}

.right {
    float: right;
    width: 50%;
    border-left: 1px
}

.variation{
    display: none;
    padding: 20px;
    padding-left: 40px;
    padding-top: 0px
}

.hidden {
    display: none
}

.separator {
    min-width: 100%;
    border-bottom: 1px solid #333333
}

.ui-widget-bg { border-top: 1px dotted #aed0ea; font-size:9px;   }
.ui-widget-bar {position:absolute;zIndex:10;bottom:0;font-size:10px; }

.graphs li{
    list-style-type:none;
}

/* Security Reports Style */

header, nav, article, section, footer, address {display:block;}

header{
    height: 38px;
    overflow:hidden;
    background:#e1e1e1;
    background:-webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e1e1e1));
    background:-moz-linear-gradient(top,  #cccccc,  #e1e1e1);
    padding:0 5px;
}
header h1{
    line-height:32px;
    font-size:14px;
    text-shadow:#fff 0 1px 0;
    text-align:center;
    display: inline
}

nav{
    height:34px;
    overflow:hidden;
}
nav ul{
    margin:0;
    padding:0 5px;
    width:100%;
    height:34px;
    -moz-box-shadow:inset -2px 2px 2px #999;
    -webkit-box-shadow:inset -2px 2px 2px #999;
    box-shadow:inset -2px 0px 2px #999;
    background:#ddd;
}
nav li{
    list-style:none;
    float:left;
    height:24px;
    line-height:24px;
    -moz-box-shadow:0 0 3px #888;
    -webkit-box-shadow:0 0 3px #888;
    box-shadow:0 0 3px #888;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin:0 2px;
    width:200px;
    overflow:hidden;
    position:relative;
    background:#ccc;
    background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
    background:-moz-linear-gradient(top,  #ccc,  #aaa);
}
nav li a, nav li a:visited, nav li a:hover{
    list-style:none;
    display:block;
    position:absolute;
    top:0;
    left:-2px;
    height:24px;
    line-height:24px;
    width:204px;
    text-align:center;
    color:#333;
    font-size:13px;
    text-shadow:#e8e8e8 0 1px 0;
    -moz-box-shadow:inset 0 1px 1px #888;
    -webkit-box-shadow:inset 0 1px 1px #888;
    box-shadow:inset 0 1px 1px #888;
}
nav li.selected {background:#e1e1e1;background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));background:-moz-linear-gradient(top,  #e1e1e1,  #d1d1d1);}
nav li.selected a {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
nav li a:focus {outline:none;}

/* style your sections here */
section {padding:20px;background:#ddd;}
section hr {margin:10px 0;}
section h2 {border-bottom:1px solid #444;margin:0 0 20px 0;padding:0 0 10px 0;}
section p.notice {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
section div.variations form input {cursor:pointer;}

#graphs div {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgb( 204, 204, 204 );
    color: rgb( 62, 87, 111 );
    font-family: Verdana, sans-serif;
}

#chart-issues {
    width: 100%;
    height: 400px
}

.jqplot-xaxis-tick {
    font-family: Verdana;
}

.jqplot-yaxis-tick {
    font-family: Verdana;
    font-size: 12px;
}

table.jqplot-table-legend {
    float: right;
    width: 50px;
    font-family: Verdana;
}

#chart-issues-container {
    height: 400px;
    padding: 10px;
}

.jqplot-title {
    top: 0;
    left: 0;
    padding-bottom: .5em;
    font-size: 1.2em;
    font-family: Verdana;
    color: #3E5786;
}
