<div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
        <div class="container">
            <div class="btn btn-inverse"><h4>Shutting down now.</h4></div>
        </div>
    </nav>
</div>
