<td colspan="2">
    <table>
        <% headers.each do |name, val| %>
            <tr>
                <td><strong><%= name %></strong></td>
                <td><%= escapeHTML(val) %></td>
            </tr>
        <% end %>
    </table>
</td>
