<div class="form-group">
    <input class="form-control" id="search_<%= id %>"
           placeholder="Filter issues..." name="search"
           onkeypress="searchIssues( $('#search_<%= id %>').val())"
    />
</div>
