<h2>Summary</h2>

<div id="summary-tabs">
    <% if report.issues.any? %>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary-charts">Graphs</a></li>
            <li>
                <a data-toggle="tab" href="#summary-issues">
                    Issues

                    <span class="badge">
                        <%= report.issues.size %>
                    </span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="summary-charts">
                <%= erb 'summary/charts.erb' %>
            </div>

            <div class="tab-pane" id="summary-issues">
                <%= erb 'summary/issues.erb' %>
            </div>
        </div>
    <% else %>
        <p class="alert alert-info">
            <em>No issues have been identified.</em>
        </p>
    <% end %>
</div>
