.severity-high {
    background-color: #B94A48;
}
.severity-medium {
    background-color: #d45500;
}
.severity-low {
    background-color: #fc9200;
}
.severity-informational {
    background-color: #3A87AD;
}

.table tr.borderless,
.table td.borderless {
    border:  0;
}

.table .panel-group {
    margin:  0;
    padding: 0;
}

.table .panel-group .panel-heading {
    padding: 5px;
}

.table .table-borderless td,
.table .table-borderless th {
    border: 0;
}

.table, .table .table-condensed {
    margin-bottom: 0;
}

.table tr.request-transition td:nth-child(2) {
    padding-left: 30px;
}

table.table-fixed {
    table-layout: fixed
}

.data-dump {
    overflow-x: auto;
    max-height: 400px;
    position:   relative;
}

.code-container {
    overflow-x: auto;
    max-height: 400px;
    position:   relative;
}

.proof {
    color: red;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu ul.dropdown-menu {
    margin-top: -20%;
    margin-left: 100%;
    position: absolute;
}

.CodeRay .active {
    font-weight: bold;
    background-color: #BCE8F1;
}

.CodeRay .breakpoint {
    font-weight: bold;
    background-color: #F2DEDE;
}

.dl-horizontal dd {
    margin-left: auto;
    padding-left: 200px;
}

.dl-horizontal dt {
    width: auto;
}

#bars, #pies {
    text-align: center;
}
