.idea/
.buildpath
.project
.settings/
*.gem
/tests/.htpasswd
/tests/htaccess
/todo.txt
/tmp
/logs/
/spec/logs/
/private.pem
generate-autodeploy.sh
tests/fp_discover.php
error.log
/lib/arachni/ui/web/server/db/*
/lib/arachni/ui/web/server/tmp/*
/lib/arachni/ui/web/server/public/reports/*

