Gemfile.lock
.idea/
*.gem
/tmp
/logs/
/spec/logs/
/private.pem
error.log
/lib/arachni/ui/web/server/db/*
/lib/arachni/ui/web/server/tmp/*
/lib/arachni/ui/web/server/public/reports/*
TODO
.rvmrc
coverage/
.env
.bundle/
