--no-private
--markup=markdown
--verbose
--title "Arachni - Web Application Security Scanner Framework"
components/**/*.rb
lib/**/*.rb
-
CHANGELOG.md
LICENSE.md
AUTHORS.md
CONTRIBUTORS.md
ACKNOWLEDGMENTS.md
