<td colspan="5" class="borderless">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="<%= id_to_location( "#{id}-source" ) %>">
                        <i class="fa fa-link"></i>
                    </a>

                    <a data-toggle="collapse" href="#<%= id %>-source">
                        Source
                    </a>
                </h4>
            </div>
            <div id="<%= id %>-source" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= code_highlight( source, :javascript, anchor_id: "#{id}-source" ) %>
                </div>
            </div>
        </div>
    </div>
</td>
