<td colspan="5" class="borderless">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#<%= id %>_source">
                        Source
                    </a>
                </h4>
            </div>
            <div id="<%= id %>_source" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= code_highlight( source, :javascript ) %>
                </div>
            </div>
        </div>
    </div>
</td>
