        <div id="page-intro">
            <h2><%= title %></h2>
            <p>
                <%= message if !message.empty? %>
            </p>
        </div>

        <% if !backtrace.empty? %>
            <a href='https://github.com/Arachni/arachni/issues'>
                If you could submit the gibberish you see under 'Environment' that'd really be helpful.
            </a>

            <p>
                <h3>Backtrace</h3>
                <pre style='max-height: 300px; overflow: auto'><%= backtrace %></pre>
            </p>

            <p>
                <h3>Environment</h3>
                 <pre style='max-height: 300px; overflow: auto'><%= env %></pre>
             </p>
        <%end%>
