
            <div id="page-intro">
                <h2>Welcome to the Arachni WebUI v<%=Arachni::UI::Web::VERSION%>.</h2>
                <p>Pardon the splash-screen, it's an one-time thing, but you really <strong>should</strong> read this stuff.</p>
            </div>

            <h2>General</h2>
            <p>
                The WebUI may empty your fridge, drink all your coffee, eat your puppy, slash your tires and/or burn down your house.<br/>
                Nevertheless, I'd appreciate it if you gave it a shot and <a href="https://github.com/Arachni/arachni/issues">let me know</a> if you find anything wrong with it.
            </p>

            <h2>What it is</h2>
            <p>
                It is a way to:
                <ul>
                    <li>make working with Arachni easier;</li>
                    <li>make report management easier;</li>
                    <li>enable you to schedule scans;</li>
                    <li>run and manage multiple scans at the same time <em>(each scan will try its best for maximum bandwidth utilization so it'll be like lions fighting in a cage -- make sure you have sufficient resources)</em>;</li>
                    <li>work with, and manage, multiple Dispatchers;</li>
                    <li>easily deploy Dispatchers on remote Linux servers over SSH;</li>
                    <li>take advantage of the High Performance Grid (HPG) infrastructure.</li>
                </ul>
            </p>

            <h2>What it isn't (yet)</h2>
            <p>
                It isn't:
                <ul>
                    <li>too stable;</li>
                    <li>a way to make Arachni's goodies available to multiple users <em>(you could but it wouldn't be safe)</em>.</li>
                </ul>
            </p>

            <h2>What now</h2>
            <p>
                Now you can enjoy this system, everything is fairly user friendly and intuitive so you shouldn't have a problem.<br/>
                This page won't bother you again, go ahead and take a look around.
            </p>
