
        <% [:err, :ok, :notice ].each do |name| %>

        <% if flash.has?( name ) %>
        <div class="flash">
            <div class="<%= name %>">
                <%= flash[name] %>
            </div>
        </div>
        <% end %>

        <% end %>

        <script type="text/javascript">
            if( $( '.flash' ) ){
                setTimeout( "$( '.flash' ).fadeOut( 1600, \"linear\" );", 2500 );
            }
        </script>
