
        <% [:err, :ok, :notice ].each do |name| %>

        <% if flash.has?( name ) %>
        <h3 id="flash" class="<%= name %>"><%= flash[name] %></h3>
        <% end %>

        <% end %>

        <script type="text/javascript">
            if( elem = document.getElementById( 'flash' ) ){
                setTimeout( "elem.style.display = 'none'", 2500 )
            }
        </script>
