
        <form action="/scan" method="post">

            <%= csrf_tag %>

            <input type="submit" value="Launch Scan" />

            <div id="page-intro">
                Select a Dispatcher:
                <select name="dispatcher">
                <% dispatchers.all.each do |dispatcher| %>
                    <% next if !dispatchers.alive?( dispatcher['url'] ) %>
                    <option><%=dispatcher['url']%></option>
                <%end%>
                </select>

                <h2>URL: <input name="url" value="<%=session['opts']['settings']['url']%>" size="50" /></h2>
            </div>

        </form>

        <%= erb :flash, {:layout => false} %>
