
        <form action="/scan" method="post" target="_blank">

            <%= csrf_tag %>
            <input type="submit" value="Launch Scan" />

            <div id="page-intro">
                <p> No need to configure anything, all you need to do is insert a URL and hit "Launch Scan"; Arachni will take care of the rest.</p>
                <h2>URL: <input name="url" value="<%=session['opts']['settings']['url']%>"/></h2>
            </div>

        </form>

        <%= erb :flash, {:layout => false} %>
