<html>
    <body>
        <iframe src="/instance/<%= params['port'] %>/controls" width="100%" height="300"> </iframe>
        <iframe src="/instance/<%= params['port'] %>/output" width="100%" height="300"/> </iframe>
    </body>
</html>
