<div class="row">
    <div class="col-md-12">
        <h3>Issues</h3>
        <p class="text-muted">Click on the bars for details on the logged issues.</p>

        <div id='chart-issues'>
        </div>
    </div>
</div>

<div class="row">
    <div id="pies">
        <div class="col-md-4">
            <h3>Severities</h3>

            <div id="chart-severities">
            </div>
        </div>

        <div class="col-md-4">
            <h3>Elements</h3>

            <div id="chart-elements">
            </div>
        </div>

        <div class="col-md-4">
            <h3>Trust</h3>
            <p class="text-muted">Click to see relevant issues.</p>

            <div id="chart-trust">
            </div>
        </div>
    </div>
</div>
