<div id='chart-issues-container' class="clear">
    <div id='chart-issues' class="clear">
        Issues
    </div>
</div>

<div id='pies' class="clear">
    <div id="chart-severities">
        Severities
    </div>

    <div id="chart-elements">
        Elements
    </div>

    <div id="chart-trust">
        Trust
    </div>
</div>
