            <div>
                <form action='javascript: return false;' onsubmit="searchIssues( $('#search_<%=id%>').val()); return false;">
                    <p>
                        <label>Search issues:</label> <input id="search_<%=id%>" name="search">
                        <em>(Submit empty query to show all again.)</em>
                    </p>
                </form>
            </div>
