            <h2>Summary</h2>

            <div id="summary-tabs">
                <ul>
                    <li><a href="#graphs">Graphs</a></li>
                    <li><a href="#issue-list">Issues</a></li>
                </ul>

                <div id="graphs">
                    <div id="chart-issues" style="width: 100%">
                    </div>

                    <br/>
                    <div id="chart-severities" style="width: 40%; float:left">
                    </div>

                    <div id="chart-elements" style="width: 40%; float:left">
                    </div>

                    <div id="chart-verification" style="width: 20%">
                    </div>
                </div>

                <div id="issue-list">

                    <h3>Found <%=audit_store.issues.size%> issues</h3>

                    <%
                       half_sz = audit_store.issues.size / 2
                       left = audit_store.issues[0..half_sz]
                       right = audit_store.issues[half_sz..-1]
                    %>

                    <div style="float: left; width: 50%">
                        <% left.each_with_index do |issue, i| %>
                            <%= erb :summary_issue, :issue => issue, :i => i %>
                        <%end%>

                    </div>

                    <div>
                        <% right.each_with_index do |issue, i| %>
                            <%= erb :summary_issue, :issue => issue, :i => i+half_sz+1 %>
                        <%end%>

                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>

                </div>
            </div>
